html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

button{
    text-decoration: none;
    border: none;
}

input, textarea{
    border: 1px solid #000;
}

ul {
    list-style-type: none;
}


